{
  "swagger": "2.0",
  "info": {
    "description": "These APIs enable merchants to fully own their users by providing the ability to create user records on the Thanx platform and transparently authenticate them. This enables merchants to embed the Thanx consumer experience into merchant-owned mobile or web experiences without requiring end-users to re-authenticate with Thanx.",
    "version": "v1",
    "title": "Thanx API",
    "contact": {
      "email": "developer-support@thanx.com"
    }
  },
  "host": "merchant.thanxsandbox.io",
  "schemes": [
    "https"
  ],
  "paths": {
    "/merchants/:merchant_id/users": {
      "post": {
        "tags": [
          "API"
        ],
        "summary": "Create user",
        "description": "This endpoint allow creation of users. Users that are created by this mechanism are automatically associated with the specified merchant. If this specified merchant attempts to create a user with an email that is already in the Thanx system but not yet associated with the merchant, the request will succeed and return a user identifier that is consistent across merchants. If the user is either new to Thanx or new to the merchant, an access token payload will also be part of the response only if using the `api` scope.",
        "operationId": "postUser",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "type": "string",
            "required": true,
            "description": "The current value is `application/vnd.thanx-v1+json`"
          },
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "This value should be `Bearer TOKEN` where TOKEN is your access token"
          },
          {
            "in": "header",
            "name": "Content-Type",
            "type": "string",
            "required": true,
            "description": "This value should be `application/json`"
          },
          {
            "in": "body",
            "name": "User",
            "required": true,
            "description": "The user object",
            "schema": {
              "type": "object",
              "properties": {
                "user": {
                  "$ref": "#/definitions/User"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "user": {
                  "$ref": "#/definitions/User"
                },
                "oauth": {
                  "$ref": "#/definitions/AccessToken"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "string",
                  "example": "Invalid user birthday"
                }
              }
            }
          },
          "409": {
            "description": "Error",
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "string",
                  "example": "A user with that email already exists"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "API"
        ],
        "summary": "Describe users",
        "description": "This endpoint will return a paginated list of users associated with the merchant",
        "operationId": "getUsers",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "type": "string",
            "required": true,
            "description": "The current value is `application/vnd.thanx-v1+json`"
          },
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "This value should be `Bearer TOKEN` where TOKEN is your access token"
          },
          {
            "in": "header",
            "name": "Content-Type",
            "type": "string",
            "required": true,
            "description": "This value should be `application/json`"
          },
          {
            "in": "query",
            "type": "string",
            "name": "email",
            "required": false,
            "description": "Scope list of users by email"
          },
          {
            "in": "query",
            "type": "integer",
            "name": "page",
            "required": false,
            "description": "Page of results to return",
            "default": 0
          },
          {
            "in": "query",
            "type": "integer",
            "name": "per_page",
            "required": false,
            "description": "Page of results to return",
            "minimum": 1,
            "maximum": 100,
            "default": 20
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "users": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/User"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/merchants/:merchant_id/users/:user_id": {
      "get": {
        "tags": [
          "API"
        ],
        "summary": "Describe user",
        "description": "This endpoint will return the specified user",
        "operationId": "getUser",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "type": "string",
            "required": true,
            "description": "The current value is `application/vnd.thanx-v1+json`"
          },
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "This value should be `Bearer TOKEN` where TOKEN is your access token"
          },
          {
            "in": "header",
            "name": "Content-Type",
            "type": "string",
            "required": true,
            "description": "This value should be `application/json`"
          },
          {
            "in": "path",
            "type": "string",
            "name": "user_id",
            "required": true,
            "description": "The user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "user": {
                  "$ref": "#/definitions/User"
                }
              }
            }
          },
          "403": {
            "description": "User not found"
          }
        }
      },
      "patch": {
        "tags": [
          "API"
        ],
        "summary": "Update user",
        "operationId": "patchUser",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "type": "string",
            "required": true,
            "description": "The current value is `application/vnd.thanx-v1+json`"
          },
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "This value should be `Bearer TOKEN` where TOKEN is your access token"
          },
          {
            "in": "header",
            "name": "Content-Type",
            "type": "string",
            "required": true,
            "description": "This value should be `application/json`"
          },
          {
            "in": "path",
            "type": "string",
            "name": "merchant_id",
            "required": true,
            "description": "Thanx will provide this value to you"
          },
          {
            "in": "path",
            "type": "string",
            "name": "user_id",
            "required": true,
            "description": "The user ID"
          },
          {
            "in": "body",
            "name": "User",
            "description": "The user object",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "user": {
                  "$ref": "#/definitions/User"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "user": {
                  "$ref": "#/definitions/User"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "string",
                  "example": "Invalid user birthday"
                }
              }
            }
          }
        }
      }
    },
    "/merchants/:merchant_id/users/:user_id/token": {
      "post": {
        "tags": [
          "API"
        ],
        "summary": "Create access token",
        "description": "This endpoint will create and return an access token for the user",
        "operationId": "postToken",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "type": "string",
            "required": true,
            "description": "The current value is `application/vnd.thanx-v1+json`"
          },
          {
            "in": "header",
            "name": "Authorization",
            "type": "string",
            "required": true,
            "description": "This value should be `Bearer TOKEN` where TOKEN is your access token"
          },
          {
            "in": "header",
            "name": "Content-Type",
            "type": "string",
            "required": true,
            "description": "This value should be `application/json`"
          },
          {
            "in": "path",
            "type": "string",
            "name": "merchant_id",
            "required": true,
            "description": "Thanx will provide this value to you"
          },
          {
            "in": "path",
            "type": "string",
            "name": "user_id",
            "required": true,
            "description": "The user ID"
          },
          {
            "in": "body",
            "name": "",
            "schema": {
              "type": "object",
              "properties": {
                "scope": {
                  "type": "string",
                  "description": "`api` for API-only. `sdk` for SDK, multi-use and long-lived. `web` for web embed, single-use and short-lived.",
                  "example": "api"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccessToken"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "User": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The user email",
          "example": "bob@example.com"
        },
        "first_name": {
          "type": "string",
          "description": "The user's first name (optional)",
          "example": "Bob"
        },
        "last_name": {
          "type": "string",
          "description": "The user's last name (optional)",
          "example": "Bobberson"
        },
        "birth_date": {
          "type": "string",
          "description": "The user's birthday (optional)",
          "example": "2000-01-02"
        }
      }
    },
    "AccessToken": {
      "type": "object",
      "properties": {
        "access_token": {
          "type": "string",
          "description": "The user's access token",
          "example": "abdefgh"
        },
        "token_type": {
          "type": "string",
          "description": "The type of token",
          "example": "Bearer"
        },
        "scope": {
          "type": "string",
          "description": "The scope of token",
          "example": "api"
        },
        "created_at": {
          "type": "integer",
          "description": "Unix timestamp",
          "example": 1548444599
        },
        "expires_in": {
          "type": "string",
          "description": "Expiration in seconds. Unset if no expiration",
          "example": "300"
        }
      }
    }
  }
}
